<div class="contentBox">
    <img src="http://lh3.googleusercontent.com/1N3O0GnLCFwk5d-UiziurL9Z0Q70wbdxYZVYyUm_bch_K4G1Vooey0eyInCKVTEttxZJSjPMudOqSFJ-Gvt0=s640-l65" class="imgVon">
    <hr>
    <% @place.each do |p| %>
    <h3><%= p %></h3>
    <% end %>
    <hr>
    <a href="/vonvonme/result" class="btn" style="border-radius: 50px">아니야.. 여긴 아니야...</a>
</div>