<div class="contentIndex">
  <img src="assets/noodi.jpg" class="imgMe">
  <blockquote>
    <p>나는 도전하고자 하는 무엇과 현실 사이의 괴리를 극복해나가야 한다는 것이 마음에 들었다.
    하루 하루 시간을 때우듯 살아가는 것이 아니라 간극을 좁히기 위해 살아가는 것이 바로 내가 바라는 삶이었다.</p>
    <footer>서유미 <cite title="Source Title">쿨하게 한 걸음</cite></footer>
  </blockquote>
  <hr>
</div>
<div class="contentIndex" style="padding-left: 35%; padding-top: 10px">
  <h6>안누리 / 940306 / 누링 / 누디 / 눌</h6>
  <h6>like</h6>
  <ul>
      <li>잠</li>
      <li>녹차맛</li>
      <li>스타벅스 호지티라떼</li>
      <li>과채주스</li>
      <li>엠마 왓슨</li>
      <li>귀여운 모든 것</li>
      <li>감자탕</li>
      <li>고양이</li>
      <li>이해찬</li>
      <li>동방신기 (윤호창민)</li>
      <li>레드벨벳</li>
  </ul>
  <h6>SNS</h6>
  <ul>
    <li><a href="https://www.instagram.com/ring___ring/" target="_blank">Instagram</a></li>
    <li><a href="https://www.facebook.com/noodi36" target="_blank">Facebook</a></li>
  </ul>
</div>
