// Place all the styles related to the vonvonme controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.imgVon {
    width: 70%;
    align: center;
}

.btn {
    color: black;
    border-radius: 2px;
    border: 1px solid #bfbfbf;
    box-shadow: 0 2px 4px 1px #e5e5e5;
    background: #fff;
    width: 40%;
}