<div class="contentBox">
    <img src="/assets/likelion.png" class="imgLike">
    <hr style="margin-bottom: 100px;">
    <h2>내 짝꿍은 <%= @partner %> 칭구임니당!</h2>
    <br>
    <br>
    <br>
    <a href="/members/my_partner" class="btn" style="border-radius: 50px">ㅎㅎ;;.. 다른 칭구는 없으까?</a>
</div>